---
apiVersion: v1
kind: Service
metadata:
  name: registry-service
  namespace: docker
spec:
  type: LoadBalancer
  selector:
    app: docker-registry
  ports:
    - name: registry-tcp
      protocol: TCP
      port: 5000
      targetPort: 5000
  loadBalancerIP: 10.203.10.20

...
